<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="ISO-8859-1">
    <title>Ticket Management System</title>

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" 
    integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
</head>

<body>
    <div class="container">
        <h1>Ticket Management System</h1>
        <hr>
        <h2>Update Ticket</h2>

        <form action="#" th:action="@{/updateTicket}" th:object="${ticket}" method="POST">

            <!-- Add hidden form field to handle update -->
            <input type="hidden" th:field="*{id}" />

          Ticket Title  <input type="text" th:field="*{ticketTitle}" class="form-control mb-4 col-4">

          Short Description <input type="text" th:field="*{ticketDescription}" class="form-control mb-4 col-4">

           Ticket Created <input type="date" th:field="*{ticketCreatedOn}" class="form-control mb-4 col-4">

            <button type="submit" class="btn btn-info col-2"> Update Ticket</button>
        </form>

        <hr>

        <a th:href="@{/}"> Back to Ticket List</a>
    </div>
</body>

</html>